/* Layout Styles */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 clamp(1rem, 5vw, 3rem);
}

.section {
  padding: var(--space-2xl) 0;
}

@media (max-width: 768px) {
  .section {
    padding: var(--space-xl) 0;
  }
}

.section-header {
  color: var(--color-text-light);
  text-align: center;
  /* margin-bottom: var(--space-xl); */
}

.section-subtitle {
  font-size: 1.25rem;
  color: var(--color-text-light);
  margin-top: 1rem;
}

